{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input From UI Design</title>
    <link
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" />
    <link
        href="http://infiniteiotdevices.com/images/logo.png"
        rel="icon"
        sizes="16x16"
        type="image/gif" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    {% if error %}
    <div class="containerr">
        {{ error }}
    </div>
    {% endif %}
    <div class="box">
        <h2>Login</h2>
        {% if not status %}
        <form method="post" action="/login">
            {% csrf_token %}
            <div class="inputBox">
                <input type="email" id="email" name="email" required />
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input type="password" id="password" name="password"
                    required />
                <label>Password</label>
            </div>
            <button type="submit" id="login">Login</button>
            <h4>
                Create account? <a href="{% url 'register' %}"
                    id="createAccount">SignUp</a>
            </h4>
            {% endif %}
        </form>
        {% if status %}
        <div class="inputBox">
            <input type="text" id="text" name="user_id"
                value="{{ user_id }}" />
        </div> <br>
        <form action="{% url 'generate' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="user_id" name="user_id"
                value="{{ user_id }}" />
            <input type="hidden" id="email" name="email" value="{{ email }}" />
            <button type="submit" class="btn btn-primary">Generate OTP</button><br /><br />
            <br>
        </form>
        <form id="validateForm" method="get" action="{% url 'validate' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate OTP</a>
            {% endif %}
        </form>

    </div>
</body>
{% endblock %}