{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup Form</title>
  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" />
  <link
    href="http://infiniteiotdevices.com/images/logo.png"
    rel="icon"
    sizes="16x16"
    type="image/gif" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
  {%if error%}
  <div class="containerr">{{error}}</div>
  {%endif%}

  <div class="box">
    <h2>Sign UP</h2>
    <form method="post" action="/">
      {% csrf_token %}
      <div class="inputBox">
        <input type="email" id="email" name="email" required />
        <label>Email</label>
      </div>
      <div class="inputBox">
        <input type="text" id="name" name="name" required />
        <label>Name</label>
      </div>
      <div class="inputBox">
        <input type="password" id="password" name="password" required />
        <label>Password</label>
      </div>
      <button type="submit">Sign Up</button>
      <h4>
        Already have an account? <a href="{% url 'login' %}" id="createAccount">Login</a>
      </h4>
    </form>
  </div>
  {% endblock %}
</body>